name: Android CI

on:
  push:
    paths-ignore:
      - '**.md'

env:
  gradleFlags: --parallel --stacktrace --no-configuration-cache --no-daemon
  API_TOKEN: ${{ secrets.API_TOKEN }}
  GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create google-services.json
        run: |
          echo GOOGLE_SERVICES_JSON | base64 --decode > app/google-services.json

      - name: Build project $gradleFlags
        run: ./gradlew assembleDebug

      - name: Run unit tests (Debug only)
        run: ./gradlew testDebugUnitTest

      - name: Run detekt
        run: ./gradlew detekt
        continue-on-error: true
