name: Android CI

on:
  push:
    paths-ignore:
      - '**.md'

env:
  API_TOKEN: ${{ secrets.API_TOKEN }}

jobs:
  build-app:
    uses: ./.github/workflows/build-app.yml

  run-tests:
    uses: ./.github/workflows/run-tests.yml

  run-lint:
    uses: ./.github/workflows/run-lint.yml

  run-detekt:
    uses: ./.github/workflows/run-detekt.yml

  run-ktlint:
    uses: ./.github/workflows/run-ktlint.yml

  check-module-graph:
    uses: ./.github/workflows/check-module-graph.yml
