name: Android CI

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  build:
    uses: ./.github/workflows/build.yml

  tests:
    needs: build
    uses: ./.github/workflows/tests.yml

  android-lint:
    needs: tests
    uses: ./.github/workflows/android-lint.yml

  ktlint:
    needs: tests
    uses: ./.github/workflows/ktlint.yml

  detekt:
    needs: tests
    uses: ./.github/workflows/detekt.yml

  module-graph:
    needs: [android-lint, ktlint, detekt]
    uses: ./.github/workflows/module-graph.yml
