name: Run Tests
on:
  workflow_call:

env:
  gradleFlags: --parallel --stacktrace --no-configuration-cache --no-daemon

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/init-gradle
      - uses: ./.github/actions/create-google-services
      - name: Run unit tests (Debug only)
        run: ./gradlew testDebugUnitTest ${{ env.gradleFlags }}
